.nav{
    
}
.nav-items{



}


li{
    float: left !important;
    padding: 10px 16px;
    list-style: none;
    /* display: inline-block; */
    
}
.fom{
    float: right !important;
}


























                     